---
import { fetchBackendApi } from "../../../../global/api";

import type { Question } from "../../../../global/types";

import Layout from "../../../../layouts/Layout.astro";
import Section from "../../../../components/Section/Section.svelte";

import ThemeSignOffDetail from "../../../../components/screens/ThemeSignOffDetail.svelte";
import ThemeSignOffDetailCompleted from "../../../../components/screens/ThemeSignOffDetailCompleted.svelte";

const { consultationId, questionId } = Astro.params;
const question: Question = await fetchBackendApi(Astro, `/api/consultations/${consultationId}/questions/${questionId}`);
---
<Layout>
  <Section>
    {(question?.theme_status === "confirmed")
      ?
        <ThemeSignOffDetailCompleted
          client:only
          consultationId={consultationId}
          questionId={questionId}
        ></ThemeSignOffDetailCompleted>
      :
        <ThemeSignOffDetail
          client:only
          consultationId={consultationId}
          questionId={questionId}
        />
    }
  </Section>
</Layout>
