---
import "../styles/global.css";

import HeaderConsult from "../components/navigation/HeaderConsult/HeaderConsult.svelte";
import Footer from "../components/Footer/Footer.svelte";

import { fetchBackendApi } from "../global/api";
import { getApiConsultationUrl, Routes } from "../global/routes";
import type { ConsultationStage } from "../global/types";

function isConsultationSubUrl(url: string): boolean {
  const consultationUrlRe = /\/consultations\/.*\S.*/;
  return consultationUrlRe.test(url);
}
function isThemeSignOffUrl(url: string): boolean {
  return url.includes("theme-sign-off");
}
function isDashboardUrl(url: string): boolean {
  return url.includes("consultations") && !url.includes("theme-sign-off");
}
function getPathText(url: string): string {
  if (isThemeSignOffUrl(url)) {
    return "Theme Sign Off";
  }
  if (isDashboardUrl(url)) {
    return "Dashboard";
  }
  return "";
}

const pathname = Astro.url.pathname;
const { consultationId } = Astro.params;

let isStaff: boolean = false;
let isSignedIn: boolean = false;
let consultationStage;
let showProcess: boolean = isConsultationSubUrl(pathname);

try {
  const data = await fetchBackendApi<{ is_staff: boolean; email: string }>(
    Astro,
    Routes.ApiUser,
  );
  isStaff = data.is_staff;
  isSignedIn = Boolean(data.email);
} catch {
  console.log("user not signed in");
}

if (consultationId) {
  try {
    const data = await fetchBackendApi<{ stage: ConsultationStage }>(
      Astro,
      getApiConsultationUrl(consultationId),
    );
    consultationStage = data.stage;
  } catch {
    console.log("failed to retrieve consultation data");
  }
}
---

<!doctype html>
<html lang="en" class="scroll-p-8 scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <title>Consult</title>

    <script is:inline src="/lit/index.js"></script>
  </head>
  <body>
    <div class="mx-auto flex h-full max-w-screen-3xl flex-col">
      <HeaderConsult
        client:load
        isStaff={isStaff}
        isSignedIn={isSignedIn}
        path={getPathText(pathname)}
        showProcess={showProcess}
        consultationId={consultationId}
        consultationStage={consultationStage}
      />

      <main class="grow">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
