---
import { fetchBackendApi } from "../../../global/api";
import { formatDate } from "../../../global/utils";
import type { ConsultationResponse, Question, User } from "../../../global/types";

import Layout from "../../../layouts/Layout.astro";
import Section from "../../../components/Section/Section.svelte";
import Link from "../../../components/Link.svelte";
import Title from "../../../components/Title.svelte";
import Button from "../../../components/inputs/Button/Button.svelte";


const { consultationId } = Astro.params;

if (!consultationId) {
  return Astro.redirect("/support/consultations");
}



let consultation = await fetchBackendApi<ConsultationResponse>(
  Astro, 
  `/api/consultations/${consultationId}`
);

let questions = await fetchBackendApi<{ results: Question[]}>(
  Astro, 
  `/api/consultations/${consultationId}/questions`
);

---

<Layout>
    <Section>
        <Title level={1} text={consultation.title} />
        <ul class="list-none p-0 m-0 space-y-2">
          <li>
            <Link href={`/evaluations/${consultationId}/questions`}>View on frontend (question review)</Link>
          </li>
          <li>
            <Link href={`/consultations/${consultationId}`}>View on frontend (dashboard)</Link>
          </li>
          <li>
            <Link href={`/support/consultations/${consultationId}/export`}>Export theme mapping audit data for this consultation</Link>
          </li>
          <li>
            <Link href={`/support/consultations/${consultationId}/delete`}>Delete this consultation</Link>
          </li>
        </ul>
    </Section>
    
    <Section class="overflow-x-auto">
        <Title level={1} text="users" />
        <table class="w-full text-left whitespace-nowrap">
        <thead class="font-bold">
          <tr>
            <th class="py-2 pr-2">email</th>
            <th class="py-2 pr-2">created at</th>
            <th class="py-2 pr-2">can access support console</th>
            <th class="py-2">can access dashboards</th>
            <th class="py-2">actions</th>
          </tr>
        </thead>
        <tbody>
          {
            consultation?.users?.map((user) => (
              <tr class="border-t hover:bg-gray-50">
                <td class="py-2 pr-2">
                  <Link href={`/support/users/${user.id}`}>{user.email}</Link>
                </td>
                <td class="py-2 pr-2">{formatDate(user.created_at)}</td>
                <td class="py-2 pr-2">{user.is_staff ? "Yes" : "No"}</td>
                <td class="py-2">{user.has_dashboard_access ? "Yes" : "No"}</td>
                <td class="py-2 pr-2">
                  <Link href={`/support/consultations/${consultationId}/users/${user.id}/remove`}>remove</Link>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
      <div class="my-4">
        <Button href=`/support/consultations/${consultationId}/users/new/`` variant="primary">add users</Button>
      </div>
    </Section>


    <Section>
        <Title level={1} text="questions" />
        <div class="overflow-x-auto">
        <table class="w-full text-left">
        <thead class="font-bold">
          <tr>
            <th class="py-2 pr-2">number</th>
            <th class="py-2 pr-2">text</th>
            <th class="py-2 pr-2 ">free text</th>
            <th class="py-2 pr-2">multiple choice</th>
            <th class="py-2">actions</th>
          </tr>
        </thead>
        <tbody>
          {
            questions.results?.map((question) => (
              <tr class="border-t hover:bg-gray-50">
                <td class="py-2 pr-2">{question.number}</td>
                <td class="py-2 pr-2 break-words max-w-xs">{question.question_text}</td>
                <td class="py-2 pr-2">{question.has_free_text ? "Yes" : "No"}</td>
                <td class="py-2 pr-2">{question.has_multiple_choice ? "Yes" : "No"}</td>
                <td class="py-2 pr-2">
                  <Link href={`/support/consultations/${consultationId}/questions/${question.id}/delete`}>delete this question</Link>
                </td>
              </tr>
            ))
          }
        </tbody>
      </table>
      </div>
    </Section>
</Layout>
